body {
  max-width: 1024px;
  margin: auto;
}
a,
p {
  font-size: 18px;
}
h2 {
  font-size: 30px;
}
img {
  max-width: 200px;
  max-height: 200px;
  margin: 10px 0;
  border-radius: 100px;
  box-shadow: 5px 5px 5px grey;
}
h1 {
  font-size: 40px;
  text-align: center;
}
a {
  text-decoration: none;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about {
  order: 1;
  padding: 0 20px;
}
.about:nth-of-type(1) {
  flex-grow: 2;
  order: -1;
}
.about:nth-of-type(2) {
  flex-grow: 1;
}
.about:nth-of-type(4) {
  flex-grow: 3;
}
.about:nth-of-type(5),
.about:nth-of-type(6),
.about:nth-of-type(7) {
  flex-grow: 1;
}
.about:nth-of-type(8) {
  flex-grow: 3;
}
.skills {
  background-color: red;
  border-radius: 20px 20px;
  color: white;
  padding: 0 25px;
}
.skills:hover {
  background-color: white;
  color: red;
}
.social-icons section li {
  display: inline;
}
.social-icons section li img {
  vertical-align: middle;
  height: 20px;
  width: 20px;
}
.social-icons section li a {
  padding: 0 30px 0 15px;
}
@media screen and (max-width: 535px) {
  header .about img {
    position: relative;
    left: 150px;
  }
}
@media screen and (max-width: 500px) {
  header .about img {
    position: relative;
    left: 110px;
  }
}
@media screen and (max-width: 460px) {
  header .about img {
    position: relative;
    left: 70px;
  }
}
@media screen and (max-width: 310px) {
  header .about img {
    position: static;
  }
}
