body {
  max-width: 1024px;
  margin: auto;
  font-style: oblique;
}
.section1 {
  border: solid;
}
img {
  max-width: 200px;
  max-height: 200px;
}
h1 {
  font-size: 40px;
  text-align: center;
  /* font-weight: 600; */
}
a {
  text-decoration: none;
}
/* .social-icons {
  text-align: center;
}
.social-icons li {
  display: inline-block;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
} */
.flex-container {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about {
  border: solid;
  order: 1;
  padding: 0 30px;
}
.about:nth-of-type(1) {
  flex-grow: 10;
  order: -1;
}
.about:nth-of-type(2) {
  flex-grow: 1;
  /* order: 2; */
}
.about:nth-of-type(4),
.about:nth-of-type(5),
.about:nth-of-type(6),
.about:nth-of-type(7) {
  flex-grow: 1;
}

.about:nth-of-type(8) {
  flex-grow: 3;
}
